

{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="container">
  {% if not device %}
  <h2>New Device</h2>
  {% else %}
  <h2>Edit Device</h2>
  {% endif %}
</div>



<div class="container">
      <div class="form-group">
        <label class="control-label col-sm-2" for="name">Name:</label>
        <div class="col-sm-10">
          <input  class="form-control" id="name"{% if device.Name %} value="{{device.Name}}" {% else %}  placeholder="Device Name"{% endif%}>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="type">Type:</label>
        <div class="col-sm-10">
          <input  class="form-control" id="type" {% if device.Type %} value="{{device.Type}}" {% else %}  placeholder="Device Type"{% endif%}>
        </div>
      </div>

      <!--GPIO PIN 1-->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="GPIO1">GPIO PIN 1</label>
        </div>
        <select class="custom-select" id="GPIO1">
          {% if device.Pin1 == 0 %}
         
          {% else %}
          <option value="{{device.Pin1}}">GPIO {{device.Pin1}}</option>
          {% endif %}
          {% for GPIO in GPIOs %}
          <option value="{{GPIO}}">GPIO {{GPIO}}</option>
          {% endfor %}
          
          
          
          
        </select>
      </div>
      <!--GPIO PIN 2-->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="GPIO2">GPIO PIN 2</label>
        </div>
        <select class="custom-select" id="GPIO2">
          {% if device.Pin1 == 0 %}
          {% else %}
          <option value="{{device.Pin2}}">GPIO {{device.Pin2}}</option>
          {% endif %}
          {% for GPIO in GPIOs %}
          <option value="{{GPIO}}">GPIO {{GPIO}}</option>
          {% endfor %}
        </select>
      </div>
      <!--GPIO PIN 3-->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="GPIO3">GPIO PIN 3</label>
        </div>
        <select class="custom-select" id="GPIO3">
          {% if device.Pin1 == 0 %}
          {% else %}
          <option value="{{device.Pin3}}">GPIO {{device.Pin3}}</option>
          {% endif %}
          {% for GPIO in GPIOs %}
          <option value="{{GPIO}}">GPIO {{GPIO}}</option>
          {% endfor %}
        </select>
      </div>

      <input type="hidden" id="deviceID" name="deviceID" value="{{device.ID}}">
      <!--Buttons-->
      <div class="container">
        {% if not device %}
        <button id="submit"class="btn ">Submit</button>
        {% else %}
        <button id="edit"class="btn ">Edit</button>
        {% endif %}
        {% if device.ID %}
        <button id="delete"class="btn ">Delete</button>
        {% endif %}
      </div>

      <br>

      <div class="jumbotron jumbtron-fluid">
        <h1>GPIO Pinout Reference</h1>
        <img src="{% static 'frontEnd/img/GPIO.png' %}"  class="img-thumbnail" alt="My image">
      </div>
      
    <script>
      var data  ={
    "Device":{
        "ID": 0,
        "Name": "Heater1",
        "Pin1": 3,
        "Pin2": 0,
        "Pin3": 0,
        "Type": "Heater",
        "Category": "Device"
    }}
      $(document).ready(function(){
        

        var id = parseInt($("#deviceID").val())
        var name = $("#name").val();
        var type = $("#type").val();
        var pin1 = parseInt($("#GPIO1").val());
        var pin2 = parseInt($("#GPIO2").val());
        var pin3 = parseInt($("#GPIO3").val());
        
        
        $('#name').change(function() {
          name = $(this).val() 
        
        });
        $('#type').change(function() {
          type = $(this).val() 
        
        });
        $('#GPIO1').change(function() {
          pin1 = $(this).val() 
        
        });
        $('#GPIO2').change(function() {
          pin2 = $(this).val() 
        
        });
        $('#GPIO3').change(function() {
          pin3 = $(this).val() 
        
        });
        
        $("#submit").click(function(){
          canSubmit = true
          
          data.Device.Name = name
          data.Device.Type = type
          data.Device.Pin1 = parseInt(pin1)
          data.Device.Pin2 = parseInt(pin2)
          data.Device.Pin3 = parseInt(pin3)
          if(pin1 === "" ||pin2 ===""||pin3===""){
            canSubmit= false
            alert("Please set all GPIO PINS to a value between 0 - 26")
          }
          if(name===""){
            canSubmit= false
            alert("Please type in a name for the device")
          }
          if(type===""){
            canSubmit= false
            alert("Please type in a device type")
          }
          if(canSubmit==true){
            
            
            $.ajax({
                type: 'POST',
                url: 'http://127.0.0.1:8080/device/add',
                contentType: 'application/json',
                data: JSON.stringify(data), // access in body
            }).done(function () {
                console.log('SUCCESS');
                window.location.href = "/terra-pi/devices/"
            }).fail(function (msg) {
                console.log('FAIL');
            }).always(function (msg) {
                console.log('ALWAYS');
            });
          } 
          else{
            alert("Did not Submit")
          }
        });

        $("#edit").click(function(){
          canSubmit = true
          data.Device.ID = parseInt(id)
          data.Device.Name = name
          data.Device.Type = type
          data.Device.Pin1 = parseInt(pin1)
          data.Device.Pin2 = parseInt(pin2)
          data.Device.Pin3 = parseInt(pin3)
          if(pin1 === "" ||pin2 ===""||pin3===""){
            canSubmit= false
            alert("Please set all GPIO PINS to a value between 0 - 26")
          }
          if(name===""){
            canSubmit= false
            alert("Please type in a name for the device")
          }
          if(type===""){
            canSubmit= false
            alert("Please type in a device type")
          }
          if(canSubmit==true){
            
             
              alert("PUT button clicked: "+ data.Device.Pin1)
            $.ajax({
                type: 'PUT',
                url: 'http://127.0.0.1:8080/device/edit/{{device.ID}}',
                contentType: 'application/json',
                data: JSON.stringify(data), // access in body
            }).done(function () {
                console.log('SUCCESS');
                window.location.href = "/terra-pi/devices/";
            }).fail(function (msg) {
                console.log('FAIL');
            }).always(function (msg) {
                console.log('ALWAYS');
            });
          } 
          else{
            alert("No Submit")
          }
          
          
        });

        $("#delete").click(function(){
          if (data.Device.ID == 0 || data.Device.ID == ""){
            alert("Delete unavailable")
          }else{
          $.ajax({
                type: 'DELETE',
                url: 'http://127.0.0.1:8080/device/delete/{{device.ID}}',
                contentType: 'application/json',
                
            }).done(function () {
                console.log('SUCCESS');
                window.location.href = "/terra-pi/sensors/";
            }).fail(function (msg) {
                console.log('FAIL');
            }).always(function (msg) {
                console.log('ALWAYS');
            });
          }
        });

      });
      </script>
   
{% endblock %}
