

{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="container">
  {% if not job %}
  <h2>New Simple Job</h2>
  {% else %}
  <h2>Edit Simple Job</h2>
  {% endif %}
</div>



<div class="container">
      <div class="form-group">
        <label class="control-label col-sm-2" for="name">Job Name:</label>
        <div class="col-sm-10">
          <input  class="form-control" id="name"{% if job.Name %} value="{{job.Name}}" {% else %}  placeholder="Job Name"{% endif%}>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="description">Job Description:</label>
        <div class="col-sm-10">
          <input  class="form-control" id="description"{% if job.Name %} value="{{job.Description}}" {% else %}  placeholder="Job Description"{% endif%}>
        </div>
      </div>

      <div class="form-group">
        <label for="message">Message</label>
        <textarea class="form-control" id="message" rows="3">{% if job.Message%} {{job.Message}}{% endif %}</textarea>
      </div>

      <!-- New Job only fields-->

      {% if not job.Device_ID%}
      <div class="form-inline">
          <div class="input-group-prepend">
            <label class="input-group-text" for="category">Device Category</label>
          </div>
          <select class="custom-select" id="category">
            <option value="Sensor">Sensor</option>
            <option value="Device">Device</option>
            <option value="Notification">Notification</option>
          </select>
          <div class="input-group-prepend">
            <label class="input-group-text" for="type">Device On/Off</label>
          </div>
          <select class="custom-select" id="onOff">
            <option value="ON">ON</option>>
            <option value="OFF">Off</option>
          </select>
          <div class="input-group-prepend" >
            <label class="input-group-text" for="type">Device </label>
          </div>
          <select class="custom-select" id="currdevice">
            <options id="device-options"></options>
          </select>

          
          
      </div>

      <fieldset disabled>
        <div class="form-inline">
          
          <div class="input-group-prepend">
            <label class="input-group-text" for="disabledDeviceName">Device Name</label>
          </div>
          <input type="text" id="disabledDeviceName" class="form-control" placeholder="No input">
          <!---->
          <div class="input-group-prepend">
            <label class="input-group-text" for="disabledDeviceCategory">Device Category</label>
          </div>
          <input type="text" id="disabledDeviceCategory" class="form-control" placeholder="No input">
          <!---->
          <div class="input-group-prepend">
            <label class="input-group-text" for="disabledDeviceType">Device Type</label>
          </div>
          <input type="text" id="disabledDeviceType" class="form-control" placeholder="No input">
        </div>
      </fieldset>
      <!--GPIO pins-->
      <fieldset disabled>
      <div class="form-inline">
        
        <div class="input-group-prepend">
          <label class="input-group-text" for="disabledPin1">GPIO Pin1</label>
        </div>
        <input type="text" id="disabledPin1" class="form-control" placeholder="No input">
        <!---->
        <div class="input-group-prepend">
          <label class="input-group-text" for="disabledPin2">GPIO Pin2</label>
        </div>
        <input type="text" id="disabledPin2" class="form-control" placeholder="No input">
        <!---->
        <div class="input-group-prepend">
          <label class="input-group-text" for="disabledPin3">GPIO Pin 3</label>
        </div>
        <input type="text" id="disabledPin3" class="form-control" placeholder="No input">
      </div>
    </fieldset>
{% endif %}

<!--End of new job only fields-->

      <h3>CRON</h3>
    <!--CRON fields-->
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="cronCheck">
      <label class="form-check-label" for="flexCheckDefault">
        Use Verbal Instruction
      </label>
    </div>
    
    <!-- Verbal command-->
    <h4>Verbal Instruction</h4>
    <div class="form-inline">
      <div class="input-group-prepend">
        <label class="input-group-text" for="cronEvery">Every</label>
      </div>
      <select class="custom-select" id="cronEveryValue">
       
      </select>
      <select class="custom-select" id="cronEvery">
        <option value="Seconds">Second(s)</option>
        <option value="Minutes">Minute(s)</option>
        <option value="Hours">Hours(s)</option>
        <option value="Days">Day(s)</option>
        <option value="Months">Month(s)</option>
      </select>

      <div class="input-group-prepend">
        <label class="input-group-text" for="cronAt">At</label>
      </div>
      <input type="text" id="cronAt" class="form-control" placeholder="">

      <div class="input-group-prepend">
        <label class="input-group-text" for="cronDaysMonth">Days of Month</label>
      </div>
      <input type="text" id="cronDaysMonth" class="form-control" placeholder="">

      </div>
    <!--Cron Format-->
    <h4>Cron Expression</h4>
    <div class="form-inline">
      <div class="input-group-prepend">
        <label class="input-group-text" for="cronExpMin">Minute</label>
      </div>
      <select class="custom-select" id="cronExpMin">
        <option> {{job.Minute}}</option>
      </select>
      
      

      <div class="input-group-prepend">
        <label class="input-group-text" for="cronExpHour">Hour</label>
      </div>
      <select class="custom-select" id="cronExpHour">
        <option> {{job.Hour}}</option>
      </select>
      
      <div class="input-group-prepend" >
        <label class="input-group-text" for="cronExpDayMon">Day-Month </label>
      </div>
      <select class="custom-select" id="cronExpDayMon">
        <option> {{job.Day_Month}}</option>
      </select>
      <div class="input-group-prepend" >
        <label class="input-group-text" for="cronExpMon">Month </label>
      </div>
      <select class="custom-select" id="cronExpMon">
        <option> {{job.Month}}</option>
      </select>
      <div class="input-group-prepend" >
        <label class="input-group-text" for="cronExpDayWeek">Day-Week</label>
      </div>
      <select class="custom-select" id="cronExpDayWeek">
        <option> {{job.Day_Week}}</option>
      </select>
      
</div>
      
          
      <!--Hidden fields-->
      <!--Current device ID-->
      <input type="hidden" id="jobID" name="jobID" value="{{job.ID}}">
      <input type="hidden" id="verbalInstrString" name="verbalInstr" value="{{job.VerbalInstr}}">
      <input type="hidden" id="jobDeviceID" name="jobDeviceID" value="{{job.Device_ID}}">
      <input type="hidden" id="scriptName" name="scriptName" value="{{job.ScriptName}}">

      <!--Buttons-->
      <div class="container">
        {% if not job %}
        <button id="submit"class="btn ">Submit</button>
        {% else %}
        <button id="edit"class="btn ">Edit</button>
        {% endif %}
      
        {% if job.ID  %}
        <button id="delete"class="btn ">Delete</button>
        {% endif %}
      </div>

      <br>

      
    <script>
      /**Global variables*/
      var data  ={
        "Job":{
        "ID":0,
        "ChildID": 0,
	      "Start_Time":"",
	      "End_Time": "",
	      "ScriptName":  "",
	      "Name" : "TestEmail",
	      "Description": "Send Test Email",
	      "Device_ID"  : 0,
	      "Duration"  : "",
	      "DeviceOnOFF" :"",
	
	      "MDevice_ID": 0,
	      "MCondition" :"",
	      "Message":"",
	      "Condition" : "",
	      "CDevice_ID": 0,

	      "VerbalInstr":"",
	      "Minute"    :"",
	      "Hour"     : "",
	      "Day_Month" :"",
	      "Month"     :"",
	      "Day_Week"  :""
      }
    }

    var VerbalInstr = {
      "Seconds": 0,
      "Days":0,
      "Months":0,
      "Hours":0,
      "Minutes":0,
      "MonthsString":"",
      "At" :""        
    }

    /*Document ready function*/
      $(document).ready(function(){
        serverURL = $("#serverURL").val()
        /*variables*/
        var id = parseInt($("#jobID").val())
        var name = $("#name").val()
        var description = $("#description").val();
        var category = $("#category").val();
        var mydevices;
        var mydeviceName = $("#currdevice").val();
        var currdeviceID = $("#jobID").val();
        var mydeviceID 
        var mydevice
        var isCheckCron = false
        var cronEvery = $("#cronEvery").val()
        var cronEveryVal=0
        var cronAtString =""
        var cronDayMonthString=""
        var message = $("#message").val()

        
        
        //get cron expr values
        data.Job.Minute = $("#cronExpMin").val()
        data.Job.Hour = $("#cronExpHour").val()
        data.Job.Day_Month = $("#cronExpDayMon").val()
        data.Job.Month = $("#cronExpMon").val()
        data.Job.Day_Week = $("#cronExpDayWeek").val()
        data.Job.ScriptName=$("#scriptName").val()
        //get verbal instr string
        var verbalInstrString = $("#verbalInstrString").val()
        data.Job.VerbalInstr = verbalInstrString
        
        //if verbal instr exists
        if (verbalInstrString !=="" && verbalInstrString !== null){
          
          verbalInstr = JSON.parse(verbalInstrString)
          VerbalInstr = verbalInstr
          cronAtString =VerbalInstr.At 
          cronDayMonthString = VerbalInstr.MonthsString
          $("#cronCheck").prop('checked',true)
          isCheckCron = true

          $("#cronAt").val(VerbalInstr.At)
          $("#cronDaysMonth").val(VerbalInstr.MonthsString)

          let evalue= getVerbalInstrVal(VerbalInstr)
          let mevery = evalue.every
          let mvalue = evalue.value
          
          console.log("verbal isntr exists",mevery, mvalue)
          updateCronVerbFields(mevery,mvalue)
          verbalInstructionSet(mevery)
          console.log(mevery)
           $("#cronEvery").val(mevery)
          //set Verbal Instr
        }else{
          console.log("no verbal instr")
          updateCronVerbFields(cronEvery,0)
        }
        populateCronExpressionFields()
      

        /*call java script functions here*/
        //if currdeviceID exists, call get request
        if(currdeviceID!=0){
          console.log("Edit job - get current device")
        }else{
          console.log("New job - get list of available devices")
          getDevices(category)
        }
        
        
        cronEveryVal = parseInt($("#cronEveryValue").val())
        console.log("Every val steart doc: "+cronEveryVal)

        /*JQuery Field functions*/
        $("#cronDaysMonth").change(function(){
           cronDayMonthString= $(this).val()
        })
        $("#cronAt").change(function(){
          cronAtString = $(this).val()
        })
        $("#cronCheck").click(function(){
          if($(this).is(':checked')){
            //use verbal
            isCheckCron =  true
            data.Job.VerbalInstr = ""
            data.Job.MonthsString =""
            data.Job.Minute =""
            data.Job.Hour = ""
            data.Job.Day_Month =""
            data.Job.Month =""
            data.Job.Day_Week=""

            
	    
          }else{
            //use Expression
            isCheckCron =  false
            data.Job.VerbalInstr = ""
            
          }
          console.log(isCheckCron)
        });
        $("#cronEvery").change(function(){
          //reset Job
          data.Job.VerbalInstr = ""
          data.Job.Minute =""
          data.Job.Hour = ""
          data.Job.Day_Month =""
          data.Job.Month =""
          data.Job.Day_Week=""
          //reset verbalInstr
          VerbalInstr.Seconds =0
          VerbalInstr.Minutes=0
          VerbalInstr.Hours =0
          VerbalInstr.Days=0
          VerbalInstr.Months=0

          cronEvery  = $(this).val()
          
          
          updateCronVerbFields(cronEvery,0)
          
          
          $("#cronAt").val("")
          $("#cronDaysMonth").val("")
          $("#cronAt").attr("placeholder","");
          $("#cronDaysMonth").attr("placeholder","");

          cronAtString = ""
          cronDayMonthString=""
          VerbalInstr.At = cronAtString
          VerbalInstr.MonthsString= cronDayMonthString
          
          
          
          switch(cronEvery){
                case "Seconds":
                
                  VerbalInstr.Seconds = cronEveryVal
                  break;
                case "Minutes":
                
                  VerbalInstr.Minutes=cronEveryVal
                  break;
                case "Hours":
                
                  VerbalInstr.Hours = cronEveryVal
                  break;
                case "Days":
                
                
                 console.log("Days")
                  console.log(cronEveryVal)
                  $("#cronAt").attr("placeholder","10:15;08:05");
                  
                  VerbalInstr.Days = cronEveryVal
                  VerbalInstr.At = cronAtString
                  break;
              
                case "Months":
                
                  $("#cronDaysMonth").attr("placeholder","1,2,3,4");
                  
                  VerbalInstr.Months = cronEveryVal
                  VerbalInstr.MonthsString = cronDayMonthString
                  break;
                default:
           
                break;
              }
          

          

          

        });

        $("#cronEveryValue").change(function(){
          console.log("Every val change")
          cronEveryVal = parseInt($("#cronEveryValue").val())
        });

        $("#name").change(function() {
          name = $(this).val() 
        
        });
        $("#type").change(function() {
          type = $(this).val() 
        
        });
        
        $("#description").change(function(){
          description =  $(this).val()
        })

        $("#category").change(function() {
          currCategory = $(this).val()
          
          getDevices(currCategory)

        });

        $("#currdevice").change(function(){
          mydeviceID = $(this).children(":selected").attr("id")
          console.log(mydeviceID)
          currCategory = $(this).val() 
          
          mydevice = getDeviceFromID(mydeviceID,mydevices)
          populateDevice(mydevice)
          
        });

        //Job submission
        $("#submit").click(function(){
          
          canSubmit = true
          
          data.Job.Name = name
          data.Job.Description = description
          data.Job.Device_ID = mydevice.ID
          
        
          if(name===""){
            canSubmit= false
            alert("Please type in a name for the job")
          }
          if(description===""){
            canSubmit= false
            alert("Please type in a description")
          }
         
          if(!checkAtString(cronAtString) || !checkDaysOfMonthString(cronDayMonthString)){
            
            canSubmit= false
           
            alert("Please check string format for 'At' or 'Days of Month'")
          }

          //checkAt and Months fields
          console.log("Submitting cron every : "+cronEvery)
            switch(cronEvery){
              case "Days":
                VerbalInstr.At = $("#cronAt").val()
                VerbalInstr.MonthsString =""
                break;
              case "Months":
                VerbalInstr.MonthsString =$("#cronDaysMonth").val()
                VerbalInstr.At =""
                break;
              default:
                break;
            }

          if(isCheckCron){
             
            console.log("is check cron", VerbalInstr)
             data.Job.VerbalInstr = JSON.stringify(VerbalInstr)
             data.Job.Minute = ""
             data.Job.Hour = ""
             data.Job.Day_Month =""
             data.Job.Month = ""
             data.Job.Day_Week =""
            
             
           }else{
             data.Job.VerbalInstr =""
             data.Job.Minute = $("#cronExpMin").val()
             data.Job.Hour = $("#cronExpHour").val()
             data.Job.Day_Month =$("#cronExpDayMon").val()
             data.Job.Month = $("#cronExpMon").val()
             data.Job.Day_Week =$("#cronExpDayWeek").val()
            
             
           }

          if(canSubmit==true){
            
            
            
            
            
           
            //use message if Notification
            category = mydevice.Category
            console.log("Before check category: "+category)
            if(category ==="Notification"){
              console.log(category)
              data.Job.Message = $("#message").val()
              data.Job.DeviceOnOFF =""
              
            }else if(category ==="Device"){
              data.Job.Message =""
              $("#message").val("")
              data.Job.DeviceOnOFF = $("#onOff").val()
            }else{
              data.Job.Message =""
              data.Job.DeviceOnOFF = ""
              $("#message").val("")
              
            }

            console.log(VerbalInstr)
              console.log(data)
            //set ON/Off if device
            
            $.ajax({
                type: 'POST',
                url: serverURL+'job/add',
                contentType: 'application/json',
                data: JSON.stringify(data), // access in body
            }).done(function () {
                console.log('SUCCESS');
                window.location.href = "/terra-pi/jobs/"
            }).fail(function (msg) {
                console.log('FAIL');
            }).always(function (msg) {
                console.log('ALWAYS');
            });
          } 
          else{
            alert("Did not Submit")
          }
        });
//edit button function
        $("#edit").click(function(){
          canSubmit = true
          data.Job.ID = parseInt(id)
          data.Job.Name = name
          data.Job.Description = description
          data.Job.Message = message
          data.Job.Device_ID = parseInt($("#jobDeviceID").val())
          if(name===""){
            canSubmit= false
            alert("Please type in a name for the device")
          }
          if(description===""){
            canSubmit= false
            alert("Please type in a device type")
          }
          console.log("Check at string and month", cronAtString, cronDayMonthString, canSubmit)
          if(!checkAtString(cronAtString) || !checkDaysOfMonthString(cronDayMonthString)){
            canSubmit= false
            alert("check At string or Month string")
          }
          cronEvery = $("#cronEvery").val()
          verbalInstructionSet(cronEvery)
          if(canSubmit==true){
            //checkAt and Months fields
            console.log("Submitting cron every : "+cronEvery)
            switch(cronEvery){
              case "Days":
                
                VerbalInstr.At = $("#cronAt").val()
                VerbalInstr.MonthsString =""
                break;
              case "Months":
                VerbalInstr.MonthsString =$("#cronDaysMonth").val()
                VerbalInstr.At =""
                break;
              
              default:
                break;
            }
            

          if(isCheckCron){
             
            console.log("Edit job check cron", VerbalInstr)
             data.Job.VerbalInstr = JSON.stringify(VerbalInstr)
             data.Job.Minute = ""
             data.Job.Hour = ""
             data.Job.Day_Month =""
             data.Job.Month = ""
             data.Job.Day_Week =""
            
             
           }else{
            console.log("Edit job no check cron", VerbalInstr)
             data.Job.VerbalInstr =""
             data.Job.Minute = $("#cronExpMin").val()
             data.Job.Hour = $("#cronExpHour").val()
             data.Job.Day_Month =$("#cronExpDayMon").val()
             data.Job.Month = $("#cronExpMon").val()
             data.Job.Day_Week =$("#cronExpDayWeek").val()
            
             
           }
           

          console.log(canSubmit)
          
            alert("Can edit")
            console.log("Editing: ",data.Job)
            
             
            $.ajax({
                type: 'PUT',
                url: serverURL+'job/edit/{{job.ID}}',
                contentType: 'application/json',
                data: JSON.stringify(data), // access in body
            }).done(function () {
                console.log('SUCCESS');
                window.location.href = "/terra-pi/jobs/";
            }).fail(function (msg) {
                console.log('FAIL');
            }).always(function (msg) {
                console.log('ALWAYS');
            });
          } 
          else{
            alert("No edit")
          }
          
          
        });

        $("#delete").click(function(){
          data.Job.ID = parseInt(id)
          if (data.Job.ID == 0 || data.Job.ID == ""){
            alert("Delete unavailable")
          }else{
            let text = "Delete job?"
            if(confirm(text)===true){
          $.ajax({
                type: 'DELETE',
                url: serverURL+'job/delete/{{job.ID}}',
                contentType: 'application/json',
                
            }).done(function () {
                console.log('SUCCESS');
                window.location.href = "/terra-pi/jobs/";
            }).fail(function (msg) {
                console.log('FAIL');
            }).always(function (msg) {
                console.log('ALWAYS');
            });}
          }
        });

        /*javascript functions*/
        //make sure that this can handle no devices in DB
        function getDevices(category){
        $.ajax({
                type: 'GET',
                url: serverURL+'device/view-all?category='+category,
                success: function(res) {
                  devices = JSON.parse(res)
                  mydevices =  devices
                  $("#currdevice").empty();
                  mydevices.forEach(function(device, index){
                    if (index==0){
                    mydeviceID = device.ID
                    console.log(mydeviceID)
                    mydevice = getDeviceFromID(mydeviceID, mydevices)
                    populateDevice(mydevice)
                    
                    }
                    $("#currdevice").append(
                      $('<option></option>').attr("value",device.Name).attr("id",device.ID).text(device.Name)
                    )
                  })
                
                }              
        })
      }

      function populateDeviceInfo(id){
        if(id==0){
          let curdev = mydevices[0]
          
        }else{

        }
      }

      function getDeviceFromID(id,devices){
        let mDevice = devices.find(element => element.ID==id)
        console.log(mDevice)
        return mDevice
      }

      function populateDevice(device){
        $("#disabledDeviceName").val(device.Name) 
        $("#disabledDeviceCategory").val(device.Category) 
        $("#disabledDeviceType").val(device.Type) 
        //tostring if needed
        $("#disabledPin1").val(device.Pin1) 
        $("#disabledPin2").val(device.Pin2) 
        $("#disabledPin3").val(device.Pin3) 
      }

      function populateCronExpressionFields(){
        /*Min 0-59, hour 0-23, dom 1-31, month 1-12, dow 0-6*/
        //if Editing job, first value should be current
        //console.log("Populatte expr fields: currdevice ID- "+ currdeviceID)
        //empty fields
        $("#cronExpMin").empty();
        $("#cronExpHour").empty();
        $("#cronExpDayMon").empty();
        $("#cronExpMon").empty();
        $("#cronExpDayWeek").empty();
        //set initial value if editing
        if (currdeviceID>0){
          //Min
          $("#cronExpMin").append(
            $('<option></option>').attr("value",data.Job.Minute).attr("id","min+*").text(data.Job.Minute)
          );
          //Hour
          $("#cronExpHour").append(
            $('<option></option>').attr("value",data.Job.Hour).attr("id","min+*").text(data.Job.Hour)
          );
          //Day Mon
          $("#cronExpDayMon").append(
            $('<option></option>').attr("value",data.Job.Day_Month).attr("id","min+*").text(data.Job.Day_Month)
          );
          //Mon
          $("#cronExpMon").append(
            $('<option></option>').attr("value",data.Job.Month).attr("id","min+*").text(data.Job.Month)
          );
          //DayWeek
          $("#cronExpDayWeek").append(
            $('<option></option>').attr("value",data.Job.Day_Week).attr("id","min+*").text(data.Job.Day_Week)
          );

        }
        //populate the rest of the fields
        
        
        
        $("#cronExpMin").append(
            $('<option></option>').attr("value","*").attr("id","min+*").text("*")
          )
        for (let i=0;i<60; i++){
          $("#cronExpMin").append(
            $('<option></option>').attr("value",i).attr("id","min+id").text(i)
          )
        }
        //Hour
        
        $("#cronExpHour").append(
            $('<option></option>').attr("value","*").attr("id","hour+*").text("*")
          )
        for (let i=0;i<24; i++){
          $("#cronExpHour").append(
            $('<option></option>').attr("value",i).attr("id","hour+id").text(i)
          )
        }
        //DayMon
        
        $("#cronExpDayMon").append(
            $('<option></option>').attr("value","*").attr("id","daymon+*").text("*")
          )
        for (let i=1;i<32; i++){
          $("#cronExpDayMon").append(
            $('<option></option>').attr("value",i).attr("id","daymon+id").text(i)
          )
        }
        //Month
        
        $("#cronExpMon").append(
            $('<option></option>').attr("value","*").attr("id","mon+*").text("*")
          )
        for (let i=1;i<13; i++){
          $("#cronExpMon").append(
            $('<option></option>').attr("value",i).attr("id","mon+id").text(i)
          )
        }
        //DayWeek
        
        $("#cronExpDayWeek").append(
            $('<option></option>').attr("value","*").attr("id","dayweek+*").text("*")
          )
        for (let i=1;i<8; i++){
          $("#cronExpDayWeek").append(
            $('<option></option>').attr("value",i).attr("id","dayweek+id").text(i)
          )
        }
      }

      function updateCronVerbFields(cronEvery,value){
        
        $("#cronEveryValue").empty();
        if (value!==0){
            
            $("#cronEveryValue").append(
            $('<option></option>').attr("value",value).attr("id","everyValue+id").text(value)
          );
          }

        switch(cronEvery){
          case "Seconds":
            for(let i =1; i<60;i++){
              

              $("#cronEveryValue").append(
                $('<option></option>').attr("value",i).attr("id","everyValue+id").text(i)
              );
              
            }
            VerbalInstr.Seconds = parseInt($("#cronEveryValue").val())
            break;
            
          case "Minutes":
          
            for(let i =1; i<60;i++){
              $("#cronEveryValue").append(
                $('<option></option>').attr("value",i).attr("id","everyValue+id").text(i)
                );
              }
              VerbalInstr.Minutes = parseInt($("#cronEveryValue").val())
            break;

          case "Hours":
            console.log("edit verbal instr at: ", cronEvery,value)
            if (value!==0){
            
                $("#cronEveryValue").append(
                $('<option></option>').attr("value",value).attr("id","everyValue+id").text(value)
              );
              }
            for(let i =1; i<24;i++){
              $("#cronEveryValue").append(
                $('<option></option>').attr("value",i).attr("id","everyValue+id").text(i)
                );
              }
              VerbalInstr.Hours = parseInt($("#cronEveryValue").val())
            break;

          case "Days":
            for(let i =1; i<32;i++){
              $("#cronEveryValue").append(
                $('<option></option>').attr("value",i).attr("id","everyValue+id").text(i)
                );
              }
              VerbalInstr.Days = parseInt($("#cronEveryValue").val())
            break;

          case "Months":
            for(let i =1; i<13;i++){
              $("#cronEveryValue").append(
                $('<option></option>').attr("value",i).attr("id","everyValue+id").text(i)
                );
              }
              VerbalInstr.Months = parseInt($("#cronEveryValue").val())
            break;
          default:
            break;
            

        }
        
      }

      function checkAtString(mystring){
        
        if (mystring ===""){
          return true
        }
        let isCorrectString = false
        if(mystring.includes(";")){
          
          array = mystring.split(";")
          let len = array.length
          array.forEach(val=>{
           //check time format
           isCorrectString =checkTimeFormat(val)
          });
          
        }else{
          //check time format
          
          isCorrectString = checkTimeFormat(mystring)
        }
          return isCorrectString
      }

      function checkDaysOfMonthString(mystring){
        
        if (mystring ===""){
          return true
        }
        
          let isCorrectString =  false
          if(mystring.includes(",")){
            array = mystring.split(",")
              
          
            array.forEach( val=>{
              console.log(val)
              isCorrectString  = checkDaysMonth(val)
            }
              //check if number is between 1 and 31
              
            )
          
          }else{
            //check if number is between 1 and 31
            isCorrectString= checkDaysMonth(mystring)
          }
          return isCorrectString
      }

      function checkDaysMonth(string){
        let day = parseInt(string)
       
        if(day>0&&day<32){
          return true
        }else{
          return false
        }
      }

      function checkTimeFormat(mystring){
          let isValidTime = false
          if(mystring.includes(":")){
            let array = mystring.split(":")
            if(array.length ===2){
              console.log("array length is 2")
              let hours = parseInt(array[0])
              let minutes = parseInt(array[1])
              if (hours >=0 && hours<24){
                console.log("Hours "+ hours)
                isValidTime =  true
              } else{ 
                
              return false}
              if (minutes>=0 &&minutes<60){
                console.log("minutes "+ minutes)
                isValidTime =  true
              }else{
                console.log("minutes invalid")
                return false}
            }else{
              console.log("At: lenght is not 2") 
              return false
            }
          
      }else{return false}
      return isValidTime
    }

    function verbalInstructionSet(cronEvery){
      console.log("editing verbal instr setting 'every' field: ", cronEvery)
      cronEveryVal = $("#cronEveryValue").val()
      switch(cronEvery){
              case "Seconds":
                VerbalInstr.Seconds = cronEveryVal
                  break;
                case "Minutes":
                VerbalInstr.Minutes = cronEveryVal
                  break;
                case "Hours":
                VerbalInstr.Hours = cronEveryVal
                  break;
                case "Days":
                VerbalInstr.Days = cronEveryVal
                  break;
                case "Months":
                VerbalInstr.Months = cronEveryVal
                  break;
             }

    }

    function getVerbalInstrVal(VerbalInstr){
      let every
      let value

      let seconds = VerbalInstr.Seconds
      let minutes= VerbalInstr.Minutes
      let hours= VerbalInstr.Hours
      let days = VerbalInstr.Days
      let months = VerbalInstr.Months

      if (seconds !=0){
        every = "Seconds"
        value = seconds
      }

      if (minutes !=0){
        every = "Minutes"
        value = minutes
      }

      if (hours !=0){
        every = "Hours"
        value  = hours
      }

      if (days !=0){
        every = "Days"
        value = days
      }

      if (months !=0){
        every = "Months"
        value = months
      }


      return {every,value}
    }
    });//end of document ready
      </script>
   
{% endblock %}
