{% extends "base.html" %}

{% block page_content %}

<div class="container">
    <h2>Add Job </h2>
    <a href="/terra-pi/job/new/simple"><button id="addsimple" type="button" class="btn">Add Simple Job</button> </a>
    <a href="/terra-pi/job/new/multi"><button id ="addmulti" type="button" class="btn">Add Multi Step Job</button> </a>
      
  </div>
<div class="container">
 
  <h2>Jobs</h2>
    <p>Configured Jobs</p> 
  
    {% if jobs|length > 0%}           
    <table class="table table-hover ">
      <thead>
        <tr >
          <th>Job Name</th>
          <th>Job Description</th>
          <th>Script Name</th>
          <th>Instructions</th>
          <th>Minute</th>
          <th>Hour</th>
          <th>Day of Month</th>
          <th>Month</th>
          <th>Day of week</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        
        {% for job in jobs %}
        <tr >
          <td>{{ job.Name  }} test</td>
          <td>{{ job.Description }}</td>
          <td>{{ job.ScriptName }}</td>
          {% if job.VerbalInstr %}
          <td  style="word-wrap: break-word;min-width: 160px;max-width: 160px;" >Verbal Instruction</td>
          {% endif %}
          <td>{{ job.Minute }}</td>
          <td>{{ job.Hour }}</td>
          <td>{{ job.Day_Month }}</td>
          <td>{{ job.Month }}</td>
          <td>{{ job.Day_Week }}</td>
         {% if job.Condition != "" %}
         <td> <a href="/terra-pi/job/multi/{{job.ID}}/"> <button type="button" class="btn">Edit</button></a> </td>
         {% else %}
          <td> <a href="/terra-pi/job/simple/{{job.ID}}/"> <button type="button" class="btn">Edit</button></a> </td>
        {%endif%}
        </tr>
        {% endfor %}
        
      </tbody>
    </table>
    <input type="hidden" id="jobs" name="jobs" value="{{jobs}}">
    {% else %}
    <h3>No Jobs Configured</h3>
    {%endif%}
  </div>

  

{% endblock %}
