{% extends "base.html" %}

{% block page_content %}

<div class="container">
    <h2>Add Sensor </h2>
    <a href="/terra-pi/sensor/new"><button id="add" type="button" class="btn">Add</button> </a>
  </div>
<div class="container">
  
<h2>Sensors</h2>
    <p>Configured sensors</p> 
    {% if devices|length > 0%}           
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Sensor Name</th>
          <th>Type</th>
          <th>Category</th>
          <th>Pin1</th>
          <th>Pin2</th>
          <th>Pin3</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        
        {% for device in devices %}
        <tr>
          <td>{{ device.Name }}</td>
          <td>{{ device.Type }}</td>
          <td>{{ device.Category }}</td>
          <td>{{ device.Pin1 }}</td>
          <td>{{ device.Pin2 }}</td>
          <td>{{ device.Pin3 }}</td>
          <td> <a href="/terra-pi/sensor/{{device.ID}}"> <button type="button" class="btn">Edit</button></a> </td>
        </tr>
        {% endfor %}
        
      </tbody>
    </table>
    {% else %}
    <h2>No Devices</h2>
    {%endif%}
  </div>

{% endblock %}
